tends ./includes/layout
block main
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header
					.mdl-layout__header-row
						span.mdl-layout-title Abstract Review 
				main.mdl-layout__content
					.mdl-grid
						.mdl-layout-spacer
						.mdl-cell.mdl-cell--4-col
							h4.mdl-color-text--black Sign UP 
							form(action='/adduser' method='post')
								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='text',name="userName",required='')
									label.mdl-textfield__label(for='name' ) Name
								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='email' name='userEmail')
									label.mdl-textfield__label(for='email') Email
								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='radio' name='userGender' value='Male')
									| Male
									input#username.mdl-textfield__input(type='radio' name='userGender' value='Female')	
									| Female
									label.mdl-textfield__label(for='gender') Gender

								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='Password')
									label.mdl-textfield__label(for='username') Password
								.mdl-layout-spacer
								button#login.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored(type='button')
									| Login

						.mdl-layout-spacer