extends ./includes/layout
block main
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header
					.mdl-layout__header-row
						span.mdl-layout-title Abstract Review
				main.mdl-layout__content
					.mdl-grid
						.mdl-layout-spacer
						.mdl-cell.mdl-cell--4-col
							h4.mdl-color-text--black Login
							form(action='/login' method='post')
								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='text' name='email')
									label.mdl-textfield__label(for='email') User Email
								br
								.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='Password',name="password")
									label.mdl-textfield__label(for='password') Password
								.mdl-layout-spacer
								button#login.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored(type='submit')
									| Login
								button.mdl-button.show-modal(type='button') Forgot passowrd?
						.mdl-layout-spacer

					dialog.mdl-dialog
						.mdl-dialog__content
						p Forgot your password ha?
						p No problemo Just Enter your email id and we`ll be sorted. Do check your mail for a new password in a lil while.
						form(action='/forgotpass' method='post')
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
									input#username.mdl-textfield__input(type='email' name='email')
									label.mdl-textfield__label(for='email') User Email
							.mdl-dialog__actions.mdl-dialog__actions--full-width
							button.mdl-button.close(type='submit') Submit
					script.
						var dialog = document.querySelector('dialog');
						var showModalButton = document.querySelector('.show-modal');
						if (! dialog.showModal) {
						dialogPolyfill.registerDialog(dialog);
						}
						showModalButton.addEventListener('click', function() {
						dialog.showModal();
						});
						dialog.querySelector('.close').addEventListener('click', function() {
						dialog.close();
						});


			footer.mdl-layout__footer.mdl-mini-footer.customfooter
					.mdl-mini-footer__bottom-section
						.mdl-mini-footer__left-section
							h5.mdl-color-text--white(style="padding-left: 5px; font-family: 'Monotype Corsiva'") Created By Aakash Dhongade
						.mdl-mini-footer__right-section
							p(style="position: relative;left: 100%;") Please report any bugs / suggestions to dhongadeaakash@gmail.com
							
