h4.mdl-color-text--black Review Form
form(action='/submitreview/'+val._id,method='post')
	.mdl-grid
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='Creativity') 
				| Creativity & Originality
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="CreativityValue" type='range', min='0', max='100', value='0', tabindex='0' oninput='showMessageCC(this.value)', onchange='showMessageC(this.value)' data-badge='0' name='Creativity' required)
				script.
					function showMessageC(value){
						document.getElementById("CreativityValue").setAttribute("data-badge",value);
					}
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='Scientific') 
				| Scientific Thought & Engineering Goal 
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="ScientificValue" type='range', min='0', max='100', value='0', tabindex='0' name='Scientific' oninput='showMessageS(this.value)', onchange='showMessageS(this.value)' data-badge='0' required)
				script.
					function showMessageS(value){
						document.getElementById("ScientificValue").setAttribute("data-badge",value);
					}	 


				


	.mdl-grid
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='Thoroughness') 
				| Thoroughness
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="ThoroughnessValue" type='range', min='0', max='100', value='0', tabindex='0' name='Thoroughness' oninput='showMessageT(this.value)', onchange='showMessageT(this.value)' data-badge='0' required)
				script.
					function showMessageT(value){
						document.getElementById("ThoroughnessValue").setAttribute("data-badge",value);
					}
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='Skill') 
				| Skill
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="SkillValue" type='range', min='0', max='100', value='0', tabindex='0' name='Skill' oninput='showMessageSk(this.value)', onchange='showMessageSk(this.value)' data-badge='0' required)
				script.
					function showMessageSk(value){
						document.getElementById("SkillValue").setAttribute("data-badge",value);
					}
	.mdl-grid
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='SocialImpact') 
				| Social Impact
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="SIV" type='range', min='0', max='100', value='0', tabindex='0' name='SocialImpact' oninput='showMessageASDF(this.value)', onchange='showMessageASDF(this.value)' data-badge='0' required)
				script.
					function showMessageASDF(value){
						document.getElementById("SIV").setAttribute("data-badge",value);
					}
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield
				label.mdl-textfield__label(for='IndustrialImpact') 
				| Industrial Impact
				input.mdl-slider.mdl-js-slider.mdl-badge.mdl-badge--no-background(id="IndustrialImpactValue" type='range', min='0', max='100', value='0', tabindex='0' name='IndustrialImpact' oninput='showMessageII(this.value)', onchange='showMessageII(this.value)' data-badge='0' required)
				script.
					function showMessageII(value){
						document.getElementById("IndustrialImpactValue").setAttribute("data-badge",value);
					}
	.mdl-grid
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				label.mdl-textfield__label(for='improve') What can be improved?
				textarea#sample5.mdl-textfield__input(type='text', rows='6',cols='12',name="improvement" required)
		.mdl-cell.mdl-cell--6-col
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				label.mdl-textfield__label(for='improve') Remarks
				textarea#sample5.mdl-textfield__input(type='text', rows='6',cols='12',name="remarks" required)
	.mdl-dialog__actions.mdl-dialog__actions
		button#submit.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored.close(type='submit') Submit

									
			